form {
  input {
    background-color: var(--secondary-bg);
    border: 1ex solid none;
    border-top-width: 1.7em;
    margin: 0;
    padding: 0;
    color: var(--text-primary);
    word-wrap: break-word;
    outline: 5px solid var(--shadow);
    height: 30px;
    font-size: 17px;
    text-align: center;
    transition: all 1s;
    max-width: 190px;
    font-weight: bold;
  }

  input:hover {
    border-top-width: 0.2em;
    background-color: #42a5f5;
  }

  input:focus {
    border-top-width: 0.2em;
    background-color: #42a5f5;
  }
}
