@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-bg: #24292e;
  --secondary-bg: #2b3137;
  --primary-color: #42a5f5;
  --secondary-color: #29b6f6;
  --text-primary: #fafafa;
  --text-secondary: #4078c0;
  --shadow: #171817;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
